<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1It2Kbz_zoSB2F6oZz2D_T5vc5qEF1kc</string>
	<key>GCM_SENDER_ID</key>
	<string>617288111150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonggeon.nowdrop</string>
	<key>PROJECT_ID</key>
	<string>nowdrop-5061e</string>
	<key>STORAGE_BUCKET</key>
	<string>nowdrop-5061e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617288111150:ios:b4763279dd065f7ec67bbf</string>
</dict>
</plist>